/* CSS Variable Declarations */

:root {
  --fb-blue: #3b5998;
  --light-grey: #e7e7e7;
  --border-radius: 1px;
}


/* General Bootstrap CSS overrides */

.navbar {
    margin-bottom: 0;
}

.navbar-header .navbar-brand {
	color: var(--fb-blue);
}

.form-control {
	border-radius: var(--border-radius);
}

.input-group-addon {
	border-radius: var(--border-radius);
	background-color: var(--fb-blue);
	border-color:  var(--fb-blue);
}


/* Header */

.navbar-center {
	text-align: center;
}

.navbar-center .form-group {
	margin-left: -114px;
}

#search-text-field {
	width: 400px;
}


/* Buttons */

#search-button {
	background-color: var(--fb-blue);
	border-radius: var(--border-radius);
	width: 80px;
}

.glyphicon-search {
	color: white;
}

#clear-button {
	color: var(--fb-blue);
	border-color:  var(--fb-blue);
	border-radius: var(--border-radius);
	margin-left: 20px;
}


/* Progress bar */
#tab-progress-bar {
	margin-top: 200px;
}


/* Tabs */

.tab-bar {
	border: 0;
	background-color: white;
}

.nav-tabs.nav-justified li a {
	border-radius: 0;
	border: 0;
	border-bottom: 2px solid var(--fb-blue);
	color: black;
}

.nav-tabs.nav-justified li.active a {
	border: 0;
	border-bottom: 2px solid var(--fb-blue);
	color: white;
	background-color: var(--fb-blue);
}

.nav-tabs.nav-justified li.active a:hover,  .nav-tabs.nav-justified li.active a:focus{
	border: 0;
	border-bottom: 2px solid var(--fb-blue);
}

.capitalize {
	text-transform: capitalize;
}


/* Panel animation */

.details-panel {
	transition: all ease-in-out 0.3s;
	left: 0;
	position: relative;
}

.details-panel.ng-hide {
	transform: translateX(-100%);
}


/* Table */

.container {
	padding: 20px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.profile-photo {
	height: 40px;
	width: 40px;
}


/* Pagination */

.pagination-container {
	text-align: center;
}

.pagination-container > button {
	display: inline;
	width: 100px;
	margin: 0px 10px;
}

.btn-secondary {
	background-color: white;
	border: 2px solid lightgray;
}


/* Details buttons */

.buttons-right {
	float: right;
}

.buttons-right img {
	height: 20px;
}


/* Albums */

.albums-posts {
	margin-top: 25px;
}

.albums-posts > .panel {
	width: calc(50% - 10px);
}

.albums-panel {
	margin-right: 5px;
}

.album-images {
	text-align: center;
}

.album-images > .panel-body > img {
	width: 95%;
	display: block;
	margin: 10px auto;
}

.panel-heading a:hover {
	color: var(--fb-blue);
}

.panel-heading a:active {
	color: var(--fb-blue);
}


/* Posts */

.posts-panel {
	margin-left: 5px;
}

.post-panel {
	padding: 13px;
}

.post-header {
	margin-bottom: 20px;
	font-size: 90%;
}

.post-header .profile-photo {
	margin-right: 20px;
}

.post-header .name {
	font-weight: bold;
}

.post-header .date {
	color: var(--light-grey);
}

